.select-correct {
    align-content: center;
    border-radius: 0.25rem;
    border: 1px solid #e2e5e8;
    display: block;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;

    &:hover {
        cursor: pointer;
    }
}

.btn-add,
.btn-rm {
    &:hover {
        cursor: pointer;
        color: #766df4 !important;
    }
}